@using quotes_web.Persistence.Quoting
<div>
    <MudPaper Class="creation-container" Elevation="3">
        <MudTextField Class="input-field" T="string" Label="Quote" @bind-Value="quoteCreation.Text" /> 
        <MudDatePicker Class="input-field" Label="Tag des Zitates" @bind-Date="quoteCreation.DateOfQuote" DateFormat="dd.MM.yyyy" FirstDayOfWeek="DayOfWeek.Monday" />
        <MudSelect Class="input-field" T="Guid?" Label="Author" @bind-Value="@quoteCreation.AuthorId">
            @foreach (var author in Authors.OrderBy(a => a.Name))
            {
                <MudSelectItem T="Guid?" Value="@author.Id" >@author.Name</MudSelectItem>
            }
        </MudSelect>
    
        <MudButton Class="create-button" Disabled="loading" Variant="Variant.Filled" OnClick="CreateQuote" Color="Color.Primary">
            @if (loading)
            {
                <MudProgressCircular Size="Size.Small" Indeterminate="true"/>
                <MudText>Erfasse...</MudText>
            }
            else
            {
                <MudText>Erfassen</MudText>
            }
        </MudButton>
    </MudPaper>
</div>