@page "/"

@inject QuotesContext QuotesContext

<AuthorizeView>
    <Authorized>
        @if (@IsAdmin(context))
        {
            <ImportForm></ImportForm>
        }
        <a href="author/create">Create Author</a>
        <a href="quote/create">Create Quote</a>
        <div class="u-flex">

            <QuoteList ShowDelete=@IsAdmin(context)></QuoteList>
        </div>
        <div class="u-flex">
            <AuthorList ShowDelete=@IsAdmin(context)></AuthorList>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>
<style>
    .u-flex {
        display: flex;
    }
</style>
@code{
    private static bool IsAdmin(AuthenticationState ctx)
    {
        return ctx.User.Claims.Where(c => c.Type.Equals("groups")).Any(i => i.Value.Equals("quotes-admin"));
    }
}