@page "/"

@inject QuotesContext QuotesContext

<AuthorizeView>
    <Authorized>
        @if (@context.User.Claims.Where(c => c.Type.Equals("groups")).Any(i => i.Value.Equals("quotes-admin")))
        {
            <ImportForm></ImportForm>
        }
        <div class="u-flex">

            <QuoteForm></QuoteForm>
            <QuoteList ShowDelete=@context.User.Claims.Where(c => c.Type.Equals("groups")).Any(i => i.Value.Equals("quotes-admin"))></QuoteList>
        </div>
        <div class="u-flex">
            <AuthorForm></AuthorForm>
            <AuthorList ShowDelete=@context.User.Claims.Where(c => c.Type.Equals("groups")).Any(i => i.Value.Equals("quotes-admin"))></AuthorList>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>
<style>
    .u-flex {
        display: flex;
    }
</style>