@inject QuotesContext QuotesContext
<Container Fluid>
    <Validations @ref="validations" Model="@authorCreation" Mode="ValidationMode.Manual">
        <Validation>
            <Field>
                <FieldLabel>Name</FieldLabel>
                <FieldBody>
                    <MemoEdit  Rows="2" @bind-Text="authorCreation.Name" Placeholder="Name eingeben">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </MemoEdit>
                </FieldBody>
            </Field>
        </Validation>
        <Button Color="Color.Primary" Clicked="@CreateAuthor">Hinzufügen</Button>
    </Validations>
</Container>
@code {
    private Validations? validations;
    private AuthorCreation authorCreation = new AuthorCreation();
    private async Task CreateAuthor()
    {
        if (await validations.ValidateAll())
        {
            QuotesContext.Add(new Author
                {
                    Id = Guid.NewGuid(),
                    Name = authorCreation.Name,
                });
            await QuotesContext.SaveChangesAsync();
        }
    }

}
