@using Microsoft.EntityFrameworkCore;

@inject QuotesContext QuotesContext

<ul class="quote-list">
    @foreach (var quote in QuotesContext.Quotes!.Include(q => q.Author).OrderByDescending(i => i.DateOfQuote))
    {
        <li>
            <Card>
                <CardBody>
                    <CardTitle Size="5">@quote.Text</CardTitle>
                    <CardText>
                        @quote.Author?.Name - <small>@quote.DateOfQuote.ToShortDateString()</small>
                    </CardText>

                    @if (ShowDelete)
                    {
                        <Button Clicked="() => DeleteQuote(quote.Id)">
                            <Icon Name="@IconName.Delete" IconStyle="IconStyle.Solid" TextColor="TextColor.Danger" />
                        </Button>
                    }
                </CardBody>
            </Card>
        </li>
    }
</ul>

@code {
    [Parameter]
    public bool ShowDelete { get; set; }

    private void DeleteQuote(Guid id)
    {
        var quote = QuotesContext.Quotes.Find(id);
        QuotesContext.Remove(quote);
        QuotesContext.SaveChanges();
    }
}
