@using Microsoft.EntityFrameworkCore;

@inject QuotesContext QuotesContext

<ul>
    @foreach (var quote in QuotesContext.Quotes!.Include(q => q.Author).OrderByDescending(i => i.DateOfQuote))
    {
        <li>
            @quote.Text @quote.DateOfQuote.ToShortDateString() @quote.Author?.Name
            @if (ShowDelete)
            {
                <Icon Name="@IconName.Delete" IconStyle="IconStyle.Solid" Clicked="() => DeleteQuote(quote.Id)" />
            }
        </li>
    }
</ul>

@code {
    [Parameter]
    public bool ShowDelete { get; set; }

    private void DeleteQuote(Guid id)
    {
        var quote = QuotesContext.Quotes.Find(id);
        QuotesContext.Remove(quote);
        QuotesContext.SaveChanges();
    }
}
