<ul>
    @foreach (var author in QuotesContext.Authors)
    {
        <li>
            @author.Name
            @if (ShowDelete)
            {
                <Button Clicked="() => DeleteAuthor(author.Id)">
                    <Icon Name="IconName.Delete" IconStyle="IconStyle.Solid" TextColor="TextColor.Danger" />
                </Button>
            }
        </li>
    }
</ul>
