
<Container Fluid>
    <Field>
        <FieldLabel>Name</FieldLabel>
        <FieldBody>
            <MemoEdit Rows="2" @bind-Text="authorCreation.Name" Placeholder="Name eingeben">
            </MemoEdit>
        </FieldBody>
    </Field>
    <Field>
        <FieldLabel>Portrait</FieldLabel>
        <FieldBody>
            <FileEdit Changed="@OnChanged" DisableProgressReport Filter="image/*" Placeholder="Photo auswählen">
            </FileEdit>
        </FieldBody>
    </Field>
    <Button Color="Color.Primary" Clicked="@CreateAuthor">Hinzufügen</Button>
</Container>
