<ul>
    @foreach (var author in Authors.OrderBy(a => a.Name))
    {
        <li>
            @author.Name
            <Button Clicked="async () => await DeleteAuthorAsync(author.Id)">
                <Icon Name="IconName.Delete" IconStyle="IconStyle.Solid" TextColor="TextColor.Danger" />
            </Button>
        </li>
    }
</ul>
