@using Microsoft.EntityFrameworkCore;
<ul class="quote-list">
    @foreach (var quote in QuotesContext.Quotes.Include(q => q.Author).ThenInclude(a => a.File).OrderByDescending(i => i.DateOfQuote))
    {
        <li>
            <Card>
                <CardImage Source="@quote.Author?.File?.ToImgSourceString()" Alt="Placeholder image"></CardImage>
                <CardBody>
                    <CardTitle Size="5">@quote.Text</CardTitle>
                    <CardText>
                        @quote.Author?.Name - <small>@quote.DateOfQuote.ToShortDateString()</small>
                    </CardText>

                    @if (ShowDelete)
                    {
                        <Button Clicked="() => DeleteQuote(quote.Id)">
                            <Icon Name="IconName.Delete" IconStyle="IconStyle.Solid" TextColor="TextColor.Danger" />
                        </Button>
                    }
                </CardBody>
            </Card>
        </li>
    }
</ul>