@page "/"
@using quotes_web.View.Quoting.Quote

<AuthorizeView>
    <Authorized>
        <div class="list-wrapper">
            <QuoteList></QuoteList>
            <div class="add-button">
                <OverviewDropdown></OverviewDropdown>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>