@page "/"
@using quotes_web.View.Quoting.Quote
@using quotes_web.View.Quoting.Author
@using quotes_web.View.Administration

<AuthorizeView>
    <Authorized>
        <div>
            @if (context.User.IsAdmin())
            {
                <ImportForm></ImportForm>
            }
            <div class="u-flex">
                <QuoteList ShowDelete="context.User.IsAdmin()"></QuoteList>
            </div>
            <div class="u-flex">
                <AuthorList ShowDelete="context.User.IsAdmin()"></AuthorList>
            </div>
            <div class="add-button">
                <Dropdown>
                    <DropdownToggle Color="Color.Primary">
                        <Icon Name="IconName.Add" IconStyle="IconStyle.Solid" IconSize="IconSize.Large" />
                    </DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem Clicked="NavigateToAuthorCreation">Author</DropdownItem>
                        <DropdownItem Clicked="NavigateToQuoteCreation">Quote</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>