@page "/admin"
@using quotes_web.View.Quoting.Author

<AuthorizeView Policy="@QuotesPolicies.IsAdmin">
    <Authorized>
        <div class="admin-container">
            <ImportExportForm></ImportExportForm>
            <AuthorList></AuthorList>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>