@page "/admin"
@using quotes_web.View.Quoting.Quote
@using quotes_web.View.Quoting.Author
@using quotes_web.View.Administration

<AuthorizeView Policy="@QuotesPolicies.IsAdmin">
    <Authorized>
        <Div Flex="Flex.Column">
            <ImportForm></ImportForm>
            <AuthorList></AuthorList>
        </Div>
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>