<div class="import-export-container">
    <MudFileUpload T="IBrowserFile" FilesChanged="Import">
        <ButtonTemplate>
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Filled.Image"
                       for="@context">
                Import File
            </MudButton>
        </ButtonTemplate>
    </MudFileUpload>
    <MudButton StartIcon="@Icons.Filled.ArrowDownward" Variant="Variant.Filled" Color="Color.Warning" OnClick="@ExportAsync">Export</MudButton>
</div>
