@inherits LayoutComponentBase

@using quotes_web.Domain.Authentication
@using Blazorise
@using Blazored.Toast
@using Blazored.Toast.Configuration

<PageTitle> Quotes 2.0</PageTitle>

<BlazoredToasts Position="ToastPosition.BottomCenter"
                Timeout="6"
                IconType="IconType.FontAwesome"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                ShowProgressBar="true" />

<AuthorizeView Policy="@QuotesPolicies.IsUser">
    <Authorized>
        <Layout>
            <LayoutHeader Class="header-wrapper">
                <h1 @onclick="NavigateToOverview">Quotes 2.0</h1>
                <div>
                    <AuthorizeView Context="dropdownCtx" Policy="@QuotesPolicies.IsAdmin">
                        <Button Color="Color.Warning" Clicked="NavigateToAdmin">Admin</Button>
                    </AuthorizeView>
                    <Button Color="Color.Secondary" Clicked="NavigateToLogout">Logout</Button>
                </div>
            </LayoutHeader>
            <LayoutContent>
                @Body
            </LayoutContent>
        </Layout>
    </Authorized>
    <NotAuthorized>
        <div class="login-wrapper">
            <Button Color="Color.Primary" Clicked="NavigateToLogin">Login</Button>
        </div>
    </NotAuthorized>
</AuthorizeView>

<style>
    .particles-js-canvas-el {
        position: fixed;
        z-index: -100;
        top: 0;
    }

    .header-wrapper {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(108,117,125,0.4)
    }
</style>
