@inherits LayoutComponentBase

<PageTitle>quotes-web</PageTitle>


<AuthorizeView>
    <Authorized>
        <div class="u-flex">
            <h1>Quotes 2.0</h1>
            <form method="get" action="logout">
                <button type="submit" class="nav-link btn btn-link">Log out</button>
            </form>
        </div>
        @Body

    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>

<style>
    .u-flex {
        display: flex;
    }
</style>