@inherits LayoutComponentBase

@using quotes_web.Domain.Authentication

<PageTitle> Quotes 2.0</PageTitle>


<AuthorizeView>
    <Authorized>
        <div class="u-flex">
            <h1 @onclick="NavigateToOverview">Quotes 2.0</h1>
            <div>
                <AuthorizeView Context="DropdownCtx" Policy="@QuotesPolicies.IsAdmin">
                    <Blazorise.Button Clicked="NavigateToAdmin">Admin</Blazorise.Button>
                </AuthorizeView>
                <Blazorise.Button Clicked="NavigateToLogout">Logout</Blazorise.Button>
            </div>
        </div>
        @Body
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>

<style>
    .u-flex {
        display: flex;
        justify-content: space-between;
    }

    .particles-js-canvas-el {
        position: fixed;
        z-index: -100;
        top: 0;
    }
</style>
